@page
@model MyOrangeCMS_RazorVersion.Pages.Admin.News_order_lists.DeleteModel

@{
    Layout = "_LayoutAdmin"; //页面模板
    ViewData["Title"] = "删除数据";
}





<div class="container">
    <div class="page-header">
        <div class="page-title">
          
           

            <h3>您确定要删除吗?</h3>
           
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="widget box">
                <div class="widget-header">
                    <h4>
                        <i class="icon-reorder">
                        </i>
                        详细内容
                    </h4>
                    <div class="toolbar no-padding">
                    </div>
                </div>
                <div class="widget-content form-horizontal row-border">


                
 

                    <div class="form-group">
                                            <label class="col-md-2 ">
                                                @Html.DisplayNameFor(model => model.News_order_list.Newsid)
                                            </label>
                                            <div class="col-md-10">
                                                <span class="text-default">
                                                    @Html.DisplayFor(model => model.News_order_list.Newsid)
                                                </span>
                                            </div>

                                        </div>

                    
 

                    <div class="form-group">
                                            <label class="col-md-2 ">
                                                @Html.DisplayNameFor(model => model.News_order_list.Email)
                                            </label>
                                            <div class="col-md-10">
                                                <span class="text-default">
                                                    @Html.DisplayFor(model => model.News_order_list.Email)
                                                </span>
                                            </div>

                                        </div>

                    
 

                    <div class="form-group">
                                            <label class="col-md-2 ">
                                                @Html.DisplayNameFor(model => model.News_order_list.User_code)
                                            </label>
                                            <div class="col-md-10">
                                                <span class="text-default">
                                                    @Html.DisplayFor(model => model.News_order_list.User_code)
                                                </span>
                                            </div>

                                        </div>

                    
 

                    <div class="form-group">
                                            <label class="col-md-2 ">
                                                @Html.DisplayNameFor(model => model.News_order_list.Note)
                                            </label>
                                            <div class="col-md-10">
                                                <span class="text-default">
                                                    @Html.DisplayFor(model => model.News_order_list.Note)
                                                </span>
                                            </div>

                                        </div>

                    
 

                    <div class="form-group">
                                            <label class="col-md-2 ">
                                                @Html.DisplayNameFor(model => model.News_order_list.Updatetime)
                                            </label>
                                            <div class="col-md-10">
                                                <span class="text-default">
                                                    @Html.DisplayFor(model => model.News_order_list.Updatetime)
                                                </span>
                                            </div>

                                        </div>

                    
 

                    <div class="form-group">
                                            <label class="col-md-2 ">
                                                @Html.DisplayNameFor(model => model.News_order_list.Pay_state)
                                            </label>
                                            <div class="col-md-10">
                                                <span class="text-default">
                                                    @Html.DisplayFor(model => model.News_order_list.Pay_state)
                                                </span>
                                            </div>

                                        </div>

                    
 

                    <div class="form-group">
                                            <label class="col-md-2 ">
                                                @Html.DisplayNameFor(model => model.News_order_list.Pay_price)
                                            </label>
                                            <div class="col-md-10">
                                                <span class="text-default">
                                                    @Html.DisplayFor(model => model.News_order_list.Pay_price)
                                                </span>
                                            </div>

                                        </div>

                    
 

                    <div class="form-group">
                                            <label class="col-md-2 ">
                                                @Html.DisplayNameFor(model => model.News_order_list.Pay_time)
                                            </label>
                                            <div class="col-md-10">
                                                <span class="text-default">
                                                    @Html.DisplayFor(model => model.News_order_list.Pay_time)
                                                </span>
                                            </div>

                                        </div>

                    
 

                    <div class="form-group">
                                            <label class="col-md-2 ">
                                                @Html.DisplayNameFor(model => model.News_order_list.Trade_no)
                                            </label>
                                            <div class="col-md-10">
                                                <span class="text-default">
                                                    @Html.DisplayFor(model => model.News_order_list.Trade_no)
                                                </span>
                                            </div>

                                        </div>

                    
 

                    <div class="form-group">
                                            <label class="col-md-2 ">
                                                @Html.DisplayNameFor(model => model.News_order_list.OrderId)
                                            </label>
                                            <div class="col-md-10">
                                                <span class="text-default">
                                                    @Html.DisplayFor(model => model.News_order_list.OrderId)
                                                </span>
                                            </div>

                                        </div>

                    
 

                    <div class="form-group">
                                            <label class="col-md-2 ">
                                                @Html.DisplayNameFor(model => model.News_order_list.PayUrl)
                                            </label>
                                            <div class="col-md-10">
                                                <span class="text-default">
                                                    @Html.DisplayFor(model => model.News_order_list.PayUrl)
                                                </span>
                                            </div>

                                        </div>

                    
                    <div class="form-group">
                        <label class="col-md-2 ">
                            @Html.DisplayNameFor(model => model.News_order_list.Createtime)
                        </label>
                        <div class="col-md-10">
                            <span class="text-default">
                                @Html.DisplayFor(model => model.News_order_list.Createtime)
                            </span>
                        </div>

                    </div>
 

                    <div class="form-group">
                        <label class="col-md-2 ">
                            &nbsp;
                        </label>
                        <div class="col-md-2">
                            <form method="post">
                                <input type="hidden" asp-for="News_order_list.Id" />
                                <input type="submit" value="删除" class="btn btn-danger" /> 
                            </form>
                        </div>
                        <div class="col-md-8 text-center">
                            <a asp-page="./Index" class="text-success">返回列表</a>

                        </div>

                    </div>

 




                </div>
            </div>
        </div>
    </div>



</div>