@page
@model MyOrangeCMS_RazorVersion.Pages.Admin.Managers.DeleteModel

@{
    Layout = "_LayoutAdmin"; //页面模板
    ViewData["Title"] = "删除用户";
}





<div class="container">
    <div class="page-header">
        <div class="page-title">
          
          

            <h3>您确定要删除吗?</h3>
           
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="widget box">
                <div class="widget-header">
                    <h4>
                        <i class="icon-reorder">
                        </i>
                        详细内容
                    </h4>
                    <div class="toolbar no-padding">
                    </div>
                </div>
                <div class="widget-content form-horizontal row-border">






                    <div class="form-group">
                        <label class="col-md-2 ">
                            @Html.DisplayNameFor(model => model.Manager.username)
                        </label>
                        <div class="col-md-10">
                            <span class="text-default">
                                @Html.DisplayFor(model => model.Manager.username)
                            </span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-2 ">
                            @Html.DisplayNameFor(model => model.Manager.password)
                        </label>
                        <div class="col-md-10">
                            <span class="text-default">
                                *** ***
                            </span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-2 ">
                            @Html.DisplayNameFor(model => model.Manager.name)
                        </label>
                        <div class="col-md-10">
                            <span class="text-default">
                                @Html.DisplayFor(model => model.Manager.name)
                            </span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-2 ">
                            @Html.DisplayNameFor(model => model.Manager.tel)
                        </label>
                        <div class="col-md-10">
                            <span class="text-default">
                                @Html.DisplayFor(model => model.Manager.tel)
                            </span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-2 ">
                            @Html.DisplayNameFor(model => model.Manager.depart)
                        </label>
                        <div class="col-md-10">
                            <span class="text-default">
                                @Html.DisplayFor(model => model.Manager.depart)
                            </span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-2 ">
                            @Html.DisplayNameFor(model => model.Manager.power)
                        </label>
                        <div class="col-md-10">
                            <span class="text-default">
                                @Html.DisplayFor(model => model.Manager.power)
                            </span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-2 ">
                            @Html.DisplayNameFor(model => model.Manager.lastlogindatetime)
                        </label>
                        <div class="col-md-10">
                            <span class="text-default">@Model.Manager.lastlogindatetime?.ToString("yyyy-MM-dd HH:MM")</span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-2 ">
                            @Html.DisplayNameFor(model => model.Manager.lastloginip)
                        </label>
                        <div class="col-md-10">
                            <span class="text-default">
                                @Html.DisplayFor(model => model.Manager.lastloginip)
                            </span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-2 ">
                            @Html.DisplayNameFor(model => model.Manager.createtime)
                        </label>
                        <div class="col-md-10">
                            <span class="text-default">
                                @Model.Manager.createtime.ToString("yyyy-MM-dd HH:MM")
                            </span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-2 ">
                            &nbsp;
                        </label>
                        <div class="col-md-2">
                            <form method="post">
                                <input type="hidden" asp-for="Manager.Id" />
                                <input type="submit" value="删除" class="btn btn-danger" /> 
                            </form>
                        </div>
                        <div class="col-md-8 text-center">
                            <a asp-page="./Index" class="text-success">返回列表</a>

                        </div>

                    </div>

 




                </div>
            </div>
        </div>
    </div>



</div>


 